<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>

<body>
  <h1>{{title}}</h1>
  <form>
    <p>Bryan 's weather app</p>
    <p>Type in any address or a city and get the weather of that place lolol</p>
    <input id="input" placeholder="type any address or city" />
    <button type="submit">Search</button>
  </form>

  <p id="display"></p>


  <script src="/app.js"></script>
</body>

</html>